/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #1C2228;
    color: #f7fff7;
    height: 100%;
}

a{
    color: #44a4cd;
}

a:hover{
    color: #44a8cf;
}

.shadow {
    box-shadow: 0 8px 12px rgb(0, 0, 0, 0.2), 0 5px 6px rgb(0, 0, 0, 0.3);
}

.section-container{
    padding: 30px;
}

.card-theme{
    color: #eee;
    background-color: #191F26;
    border: none;
    border-radius: 2px;
}

.custom-card-height {
    max-height: 320px; /* Adjust this value based on your preference */
    overflow: hidden; /* To ensure content that exceeds the card is hidden */
   
}

.custom-card-height-large {
    height: 400px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
}

.card-header-theme{
    color: #eee;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 12px;
}

.card-body-theme{
    background-color: #494F56;
}

.cards{
    display: flex;
    flex-direction: column;
}

.echarts-container {
    width: 100%;
    height: 400px; /* Adjust this value as needed */
}


